*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: blue;
  background-color: aqua;
  font-weight: bold;
  font-size: 90px;
  text-align: center;
}

.container {
  height: 500px;
  width: 100%;
  background-color: aqua;
  background-image: url(https://plus.unsplash.com/premium_photo-1676320102845-4fa58706484e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1545&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}